@import 'variables';

h1, h2, h3 {
  font-weight: bold;
}

p {
  margin-bottom: 0;
}

.edit-task-section {
  background-color: #fff;
  padding: 0 20px;
  min-height: 30px;
}

form {
  display: flex;
  flex-direction: column;

  label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
  }

  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #f2f2f3;
    color: #333;
    cursor: pointer;
  }

  select:hover {
    border-color: #555;
  }

  select:focus {
    outline: none;
    border-color: #1675B9;
  }

  select::-ms-expand {
    display: none;
  }

  select option {
    background-color: #f2f2f3;
    color: #333;
  }
}

input, textarea {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 1px 3px $boxShadowColor;
  color: $baseTextColor;
  background-color: #f2f2f3;
  font-family: sans-serif;
  font-size: 14px;
  margin-bottom: 10px;

  &::placeholder {
    color: $placeholderColor;
  }

  &:focus {
    border-radius: 4px;
    box-shadow: 0px 2px 5px $focusBoxShadowColor;
  }
}

button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
  font-size: 15px;
  background-color: $primaryColor;
  color: #fff;
}

#header {
  padding-left: 20px;
  background-color: $primaryColor;
  color: white;
  height: auto;
}

.edit-task-section textarea {
  height: 400px;
}

.edit-task-section input {
  height: 50px;
}

#tasks-title {
  padding: 0 20px;
}

.empty-tasks {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  color: $baseTextColor;
  background-color: $secondaryColor;
  font-size: 18px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.task h2, .task p {
  color: $baseTextColor;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task p {
  padding: 10px 0;
  text-overflow: ellipsis;
  max-height: 50px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
}

.actions p {
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  flex: 1;
  background-color: $primaryColor;
  color: #fff;
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.actions .button {
  flex: 0.2;
  background-color: transparent;
  color: $baseTextColor;
}

.button-row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-row .edit, .cancel {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.button-row .cancel {
  margin-right: 0;
  background-color: white;
  border: 1px solid $placeholderColor;
  color: $placeholderColor;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.button-row .edit {
  background-color: $primaryColor;
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.button-row button:hover {
  background-color: #ddd;
}

#list-in-edit-page {
  display: none;
}

/* Responsive styles */
@media only screen and (min-width: 768px) {
  #list-in-edit-page {
    margin-top: 10px;
    height: 100vh;
    display: inline;
  }
}

.edit img {
  width: 20px;
}